.contenedor {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-size: 1.2rem;
  margin: 0px;
  padding: 0px; }

.row {
  margin: 0px;
  padding: 0px; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.7rem; }

#inicio {
  background-color: rgba(255, 255, 255, 0.55) !important; }

nav ul li a {
  text-decoration: none;
  font-size: 1.56rem;
  padding: 15px;
  border-radius: 10px;
  margin: 10px; }
  nav ul li a:hover {
    text-shadow: 4px 4px 4px black;
    transform: scale(1.1);
    transition: all 1s;
    border-color: black; }

.section1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.65)), url(../images/imgprincipal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 35rem;
  letter-spacing: 2.5px;
  padding: 20px;
  color: white;
  font-size: 1.56rem; }

.hbanner {
  background-color: white;
  color: black;
  margin: 20px 0px;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .hbanner h4 {
    text-align: center;
    padding: 20px 0px 15px 0px; }
  .hbanner img {
    max-width: 100%; }

.banner2 {
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  background-color: #e4e4e46b !important; }
  .banner2 h3 {
    font-size: 2.5rem; }
  .banner2 p {
    font-size: 1.5rem; }
  .banner2 a {
    font-size: 1.3rem; }

footer {
  padding: 0px;
  margin: 0px;
  font-size: 1.2rem;
  background-color: black;
  max-width: 100%;
  color: #999999; }
  footer .foot__menu {
    padding: 5px;
    color: #999999;
    text-align: center; }
    footer .foot__menu:hover {
      text-decoration-line: underline;
      color: white; }
  footer .foot__menu2 {
    padding: 5px; }
  footer img {
    margin-bottom: 15px;
    align-self: center; }
  footer p {
    font-size: 16px;
    padding: 0px;
    margin: 0px; }
  footer .redes {
    width: 50px;
    height: 50px; }
  footer a {
    text-decoration: none; }
  footer span {
    text-decoration: none; }

.section2 {
  color: black;
  margin-left: auto;
  margin-right: auto; }
  .section2 iframe {
    max-width: 100%;
    height: 35rem;
    margin: 5px 5px 5px 5px; }

.tarjetas {
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  background-size: cover;
  font-size: 14px;
  margin-top: 20px; }
  .tarjetas .card {
    color: black;
    border-style: none;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    max-height: 100%; }
  .tarjetas img {
    width: 100px;
    height: 100px; }

.servicios {
  background: linear-gradient(rgba(0, 0, 0, 0.456), rgba(0, 0, 0, 0.455)), url(../images/servicios4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white; }
  .servicios p {
    font-size: 1.2rem; }
  .servicios .nuestros__servicios {
    max-width: 80%;
    margin: auto; }

.contacto {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.65)), url(../images/imgprincipal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .contacto p {
    font-size: 1.4rem; }

.soluciones {
  color: black;
  background: linear-gradient(rgba(0, 0, 0, 0.826), rgba(0, 0, 0, 0.826)), url(../images/fondo3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white; }

.soluciones2 {
  color: white;
  margin-left: auto;
  margin-right: auto; }
  .soluciones2 p {
    font-size: 1rem;
    padding: 0px 25px; }
  .soluciones2 a {
    font-size: 1rem; }
  .soluciones2 h3 {
    text-align: center;
    font-size: 1.7rem; }

.soluciones3 {
  color: black;
  justify-content: center;
  padding: 10px;
  text-align: center; }
  .soluciones3 img {
    width: 300px;
    height: 300px; }

.carrusel {
  max-width: 1100px;
  max-height: 700px; }

#contenedor-formulario {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
  align-items: center; }

.nosotros {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.65)), url(../images/nosotross.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px; }

.nosotros__card {
  color: black; }

.nosotros3 {
  color: black; }
  .nosotros3 img {
    width: 100%;
    height: auto; }

.mapafondo {
  background-color: rgba(255, 255, 255, 0.755); }

.mapa {
  align-items: center;
  color: black;
  margin: auto;
  padding: 10px; }
  .mapa .mapa__iframe iframe {
    max-width: 100%;
    max-height: 100%;
    width: 30rem;
    height: 25rem; }

@media (min-width: 361px) and (max-width: 768px) {
  h1 {
    font-size: 3rem; }
  .banner2 {
    font-size: medium; }
  h3 {
    font-size: 2.1rem; }
  p {
    font-size: 1.3rem; }
  a {
    font-size: 1rem; } }

@media (max-width: 360px) {
  h1 {
    font-size: 2.8rem; } }
