@mixin anchoalto ($ancho, $alto){
    width: $ancho;
    height: $alto;
}
$colores:("principal": white, "secundario": black, "fontrem": 1.2rem, "tercero": #1DB9C3);
$background: rgba(255, 255, 255, 0.55);     




.contenedor {   
    font-family: 'Nunito Sans', sans-serif;
    color: map-get($colores, principal);
    font-size: map-get($colores, fontrem); 
    margin: 0px;
    padding: 0px;
    
    
} 
.row {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 3.2rem;
    
}

h2 {
    font-size: 2.8rem;

}

h3 {
    font-size: 2rem;
    
}
h4 {
    font-size: 1.7rem;
}
    
#inicio {
    background-color: $background !important;
    
}

nav ul li a {
    text-decoration: none;
    font-size: map-get($colores, fontrem) * 1.3;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
 

    &:hover {
        text-shadow: 4px 4px 4px black;
        transform: scale(1.1);
        transition: all 1s;  
        border-color: black;
   
    } 
}

.section1 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.65)), url(../images/imgprincipal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    @include anchoalto (100%, 35rem);
    letter-spacing: 2.5px;
    padding: 20px;
    color: white;
    font-size: map-get($colores, fontrem) * 1.3;
      
}

.hbanner {
    background-color: rgb(255, 255, 255);
    color: map-get($colores, secundario);
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    h4 {
        text-align: center;
        padding: 20px 0px 15px 0px;
        }
    img {
        max-width: 100%;
    }

    
}

.banner2 {
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: #e4e4e46b !important;
    
    h3 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.5rem;
    }
    a {
        font-size: 1.3rem;
        
    }
}

footer {
    padding: 0px;
    margin: 0px;
    font-size: map-get($colores, fontrem) * 1;
    background-color: map-get($colores, secundario);
    max-width: 100%;
    color: #999999;

    
    
    .foot__menu {
        padding: 5px;
        color: #999999;
        text-align: center;
        
        
        
        &:hover {
            text-decoration-line: underline;
            color: white;
        }
    }
    .foot__menu2 {
        padding: 5px;
    }
    img {
        margin-bottom: 15px;
        align-self: center;      
    }
    p {
        font-size: 16px;
        padding: 0px; 
        margin: 0px;       
        
    }
    .redes {
        width: 50px;
        height: 50px;               
    }
    a {
        text-decoration: none;
    }
    span {
        text-decoration: none;
       
    }
}

.section2 {
    color: map-get($colores, secundario);
    margin-left: auto;
    margin-right: auto;
   
    
    iframe {
        max-width: 100%;
        height: 35rem;
        margin: 5px 5px 5px 5px;
        }
}
.tarjetas {
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-size: cover;
    font-size: 14px;
    
      
    
        
    .card{
        color: black;
        border-style: none;
        background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
        max-height: 100%;
    }     
    img {
        width: 100px;
        height: 100px;
        
    }
}

.servicios {
    background: linear-gradient(rgba(0, 0, 0, 0.005), rgba(0, 0, 0, 0.005)), url(../images/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: black; 

}

.contacto {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.65)), url(../images/imgprincipal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

.soluciones {
    color: black;
}
.soluciones2 {
    color: black;
    margin-left: auto;
    margin-right: auto;
   
    p {
        font-size: 0.9rem;
        padding: 0px 25px;
    }
    a {
        font-size: 0.9rem;
        
        
    }
    h3 {
        text-align: center;
        font-size: 1.5rem;
    }
   
   
}
.carrusel {
    max-width: 1100px;
    max-height: 700px;
}
#contenedor-formulario {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;   
}
.nosotros {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.65)),url(../images/nosotross.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px;


} 

.nosotros__card {
    color: black;
        
}    

.nosotros3 {
    color: black;
    img {  
        width: 100%;
        height: auto;
    }
}

@media (min-width: 361px) and ( max-width: 768px) {
    
   
    h1 {
        font-size: 3rem;        

    }
    .banner2 {
        font-size: medium;
    }
    h3 {
        font-size: 2.1rem;
    }
    p {
        font-size: 1.3rem;
    }
    a {
        font-size: 1rem;
        
    }
}
@media ( max-width: 360px) {
    h1 {
        font-size: 2.8rem;
        
    }
}